{% extends 'new_app/header.html' %}

{% block title%}LOGIN{% endblock %}

{% block content %}
    <h3>REGISTER</h3>
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{form.as_p}}
      <button class = "btn btn-primary" type="submit"><h2>Register a new user</h2></button>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
    <p class="text-center"><h2>If you already have an account, <a href="/login"> Login </a> instead. </h2></p>
{% endblock %}